<script>
   $(document).ready(function(){
      $('.dropdown-toggle').dropdown()
  });
</script>
<nav class="navbar navbar-default">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Beerify</a>
  </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">    
      
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Types
  <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Ale</a></li>
            <li><a href="#">Lager</a></li>
            <li><a href="#">Stouts & Porters</a></li>
            <li><a href="#">Malts</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Styles
  <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Light</a></li>
            <li><a href="#">Amber</a></li>
            <li><a href="#">Blonde</a></li>
            <li><a href="#">Brown</a></li>
            <li><a href="#">Dark</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Cream</a></li>
            <li><a href="#">Golden</a></li>        
            <li><a href="#">Fruit</a></li>    
            <li><a href="#">India Pale Ale</a></li>
            <li><a href="#">Red</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron">
  <div class="container">
  	 <h2>{{beer.name}}</h2>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <img src="{{beer.labels.medium}}" style="float:left; margin-right:5px; padding-right:5px;">
      </div>
      <div class="col-sm-9">
        <h3>{{beer.style.name}}</h3>
        <p>{{beer.style.description}}</p>
        <p ng-if="beer.abv">Alcohol Content: {{beer.abv}}%</p>
        <p ng-if="!beer.abv">Alcohol Content: {{ ( ( 1 * beer.style.abvMin) + ( 1 * beer.style.abvMax) ) / 2 }}%</p>
        <p ng-if="beer.ibu">Ibu: {{beer.ibu}}</p>
        <p ng-if="!beer.ibu && beer.style.ibuMin">Ibu: {{ ( ( 1 * beer.style.ibuMin) + ( 1 * beer.style.ibuMax) ) / 2 }}</p>
        <p ng-if="!beer.srm && beer.style.srmMin">Srm: {{ ( ( 1 * beer.style.srmMin) + ( 1 * beer.style.srmMax) ) / 2 }}</p>
        <p ng-if="beer.available">Availability: {{beer.available.name}}<br>
        {{beer.available.description}}</p>
        <p ng-if="beer.glass">Glass: {{beer.glass.name}}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <img src="{{beer.breweries[0].images.squareMedium}}" style="float:left; margin-right:5px; padding-right:5px;">      
      </div>
      <div class="col-sm-9">
        <h3>Brewery</h3>
        <h4>{{beer.breweries[0].name}}</h4>
        <strong>Established {{beer.breweries[0].established}} </strong>
        <p>{{beer.breweries[0].description}}</p>
      </div>
    </div>
    <button type="button" ng-click="back()" class="btn btn-info">Back</button>
  <br>
  <hr>

  <footer>
    <p>&copy; 2015 Company, Inc.</p>
  </footer>
</div> <!-- /container -->