<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Beerify</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
  	 <h2>{{beer.name}}</h2>
  	 <h3>{{beer.style.name}}</h3>
  </div>
</div>

  <div class="container">
    <img src="{{beer.labels.medium}}" style="float:left; margin-right:5px; padding-right:5px;">
    <p>{{beer.style.description}}</p>
    <p ng-if="beer.available">Availability: {{beer.available.name}}</p>
    <p>{{beer.available.description}}</p>
    <p ng-if="beer.abv">Alcohol Content: {{beer.abv}}%</p>
    <p ng-if="!beer.abv">Alcohol Content: {{ ( ( 1 * beer.style.abvMin) + ( 1 * beer.style.abvMax) ) / 2 }}%</p>
    <p ng-if="beer.ibu">Ibu: {{beer.ibu}}</p>
    <p ng-if="!beer.ibu && beer.style.ibuMin">Ibu: {{ ( ( 1 * beer.style.ibuMin) + ( 1 * beer.style.ibuMax) ) / 2 }}</p>
    <p ng-if="!beer.ibu && !beer.style.ibuMin">Ibu: Unavailable</p>
    <p ng-if="beer.glass">Glass: {{beer.glass.name}}</p>
    <button type="button" ng-click="back()" class="btn btn-info">Back</button>
  <br>
  <hr>

  <footer>
    <p>&copy; 2015 Company, Inc.</p>
  </footer>
</div> <!-- /container -->