  <script>
     $(document).ready(function(){
        $('.dropdown-toggle').dropdown()
    });
  </script>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Beerify</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">    
      
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Types
  <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="types/ale.html">Ale</a></li>
            <li><a href="types/lager.html">Lager</a></li>
            <li><a href="types/stout.html">Stouts & Porters</a></li>
            <li><a href="types/malt.html">Malts</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Styles
  <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="styles/light.html">Light</a></li>
            <li><a href="styles/amber.html">Amber</a></li>
            <li><a href="styles/blonde.html">Blonde</a></li>
            <li><a href="styles/brown.html">Brown</a></li>
            <li><a href="styles/dark.html">Dark</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="styles/cream.html">Cream</a></li>
            <li><a href="styles/golden.html">Golden</a></li>        
            <li><a href="styles/fruit.html">Fruit</a></li>    
            <li><a href="styles/ipa.html">India Pale Ale</a></li>
            <li><a href="styles/red.html">Red</a></li>
          </ul>
        </li>
      </ul> 
      <ul class="nav navbar-nav nav navbar-right">
        <li class="dropdown">
          <a ng-if"sessionUser" href="#" class="dropdown-toggle" data-toggle="dropdown">Hi, {{sessionUser.attributes.username}}
  <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="login.html">Login</a></li>
            <li><a href="signup.html">Signup</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Beerify</h1>
    <p>This is a simple application built to help beer lovers like you and me learn a little bit more 
      about the beverages they drink. Search for drinks, keep track of drinks and explore to see what you like the most!</p>


      <form ng-submit="fetch()">
        <div class="input-group">
          <input type="text" ng-model="search" 
          class="form-control" placeholder="Search the name of a beer" name="srch-term" id="srch-term">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>

    </div>
  </div>

  <div class="container">

    <div id="main-info" 
      ng-include="'partials/beerList.html'">
    </div>

  <br>
  <hr>

  <footer>
    <p>&copy; 2015 Company, Inc.</p>
  </footer>
</div> <!-- /container -->