<form class="form-signin" style="max-width:350px;">
  <h2 class="form-signin-heading">Please Login</h2>
  <label for="inputEmail" class="sr-only">Username</label>
  <input class="form-control" placeholder="Username" required autofocus ng-model="data.username">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" class="form-control" placeholder="Password" required ng-model="data.password">
  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="loginEmail()">Login</button>
</form>